theme "krovuxdev"
themes {
    krovuxdev {
        fg "#AACFD0"
        bg "#2E3440"
        black "#15181a"
        red "#BF616A"
        green "#A3BE8C"
        yellow "#EBCB8B"
        blue "#81A1C1"
        magenta "#B48EAD"
        cyan "#88C0D0"
        white "#EAEAEA"
        orange "#D08770"
    }
}

